<!--
<tr class="table-info-item" id="info{{ id }}">
	<td colspan="6" class="hiddenRow">
		<div class="accordian-body collapse" id="expandTarget{{ id }}">
			<div class="col-md-3">
				<img src="{{ imdb_data.Poster }}" width="70%" height="70%" alt="{{ rt_data.movie.title }}">
			</div>
			<div class="col-md-9">
				<div class="movie-info">
				<p style="font-weight:bold;">{{ imdb_data.Plot }}</p>
				<p>Director: {{ imdb_data.Director }}</p>
				<p>Actors: {{ imdb_data.Actors }}</p>
				<p>Year: {{ imdb_data.Year }}</p>
				<p>Runtime: {{ rt_data.movie.runtime }} minutes</p>
				</div>
			</div>
		</div>
	</td>
</tr>
-->