{% extends "base.html" %}
{% block title %}
	<title>hud | danielcorin</title>
{% endblock %}
{% block header %}HUD{% endblock %}
{% block main %}
	<div class="col-md-6">
		{% include 'selfhud/github.html' %}
		{% include 'selfhud/lastfm.html' %}
		{% include 'selfhud/twitter.html' %}
		{% include 'selfhud/kippt.html' %}
	</div>
	<div class="col-md-6">
		{% include 'selfhud/strava.html' %}
		{% include 'selfhud/goodreads.html' %}
		{% include 'selfhud/untappd.html' %}
		<p>Load time: {{ load_time }}</p>
	</div>
{% endblock %}