{% extends "base.html" %}
{% block title %}
	<title>hud | danielcorin</title>
{% endblock %}
{% block header %}Self HUD{% endblock %}
{% block main %}
	<div class="col-md-6">
		<div id="github">
			<h3><a href="{{ github.user_url }}">Github</a> ({{ github.time }})</h3>
			<p>
			Repo: <a href="{{ github.repo_url }}">{{ github.repo_name }}</a><br>
			Commit message: {{ github.commit_message }}<br>
			Created at: {{ github.created_at }}
			</p>
		</div>
		<div id="lastfm">
			<h3><a href="{{ lastfm.user_url }}">Last.fm</a> ({{ lastfm.time }})</h3>
			<p>
			<a href="{{ lastfm.url }}">{{ lastfm.title }} - {{ lastfm.artist }}</a><br>
			{{ lastfm.status }}
			{% if lastfm.date %}
				{{ lastfm.date }}
			{% endif %}
			</p>
		</div>
		<div id="twitter">
			<h3><a href="{{ twitter.user_url }}">Twitter</a> ({{ twitter.time }})</h3>
			<p>
			{{ twitter.text }}<br>
			{{ twitter.date }}<br>
			<a href="{{ twitter.tweet_url }}">Link</a>
			</p>
		</div>
		<div id="kippt">
			<h3><a href="{{ kippt.user_url }}">Kippt</a> ({{ kippt.time }})</h3>
			<p>
			<a href="{{ kippt.clip_url }}">{{ kippt.clip_title }}</a><br>
			{{ kippt.created }}
			</p>
		</div>
		<div id="untappd">
			<h3><a href="{{ untappd.user_url }}">Untappd</a> ({{ untappd.time }})</h3>
			<p>
			{{ untappd.beer_name }}: {{ untappd.rating_score }}<br>
			<a href="{{ untappd.brewery_url }}">{{ untappd.brewery_name }}</a><br>
			{{ untappd.created_at }}
			</p>
		</div>
	</div>
	<div class="col-md-6">
		<div id="strava">
			<h3><a href="{{ strava.athlete_url }}">Strava</a> ({{ strava.time }})</h3>
			<p>
			<a href="{{ strava.activity_url }}">{{ strava.name }}</a> - {{ strava.activity_type }}<br>
			{{ strava.start_date }}<br>
			Elapsed time: {{ strava.elapsed_time }}<br>
			Distance: {{ strava.distance_in_mi }} mi <br>
			Max speed: {{ strava.max_speed_mph }} mph <br>
			Elevation gain: {{ strava.elevation_gain_ft }} ft
			</p>
		</div>
		<div id="goodreads">
			<h3><a href="{{ goodreads.user_url }}">Goodreads</a> ({{ goodreads.time }})</h3>
			<p>{{ goodreads.action_text | safe }}<br>
			{{ goodreads.updated_at }}</p>
			<p>Currently reading:</p>
			{% for book in goodreads.currently_reading %}
				<p>
				<a href="{{ book.link }}">{{ book.title }}</a> - {{ book.author }}<br>
				Started at: {{ book.started_at }}
				</p>
			{% endfor %}
		</div>
		<div id="trakt">
			<h3><a href="{{ trakt.user_url }}">Trakt.tv</a> ({{ trakt.time }})</h3>
			<p>Movie: <a href="
			{{ trakt.movie_url }}">{{ trakt.movie_title }}</a><br>
			{{ trakt.movie_watched }}</p>
			<p>Show: <a href="
				{{ trakt.show_url }}">{{ trakt.show_title }}:</a> <a href="{{ trakt.episode_url }}">{{ trakt.episode_string }}</a><br>
				{{ trakt.episode_watched }}
				</p>
			</div>
		</div>
		<p>Total execution time: {{ execution_time }} seconds</p>
	</div>
{% endblock %}