{% extends "base.html" %}
{% block title %}
	<title>hud | danielcorin</title>
{% endblock %}
{% block header %}Self HUD{% endblock %}
{% block main %}
	<div class="col-md-6">
		<div id="github">
			<h3><a href="{{ github.user_url }}">Github</a></h3>
			<p>
			Repo: <a href="{{ github.repo_url }}">{{ github.repo_name }}</a><br>
			Commit message: {{ github.commit_message }}<br>
			Created at: {{ github.created_at }}
			</p>
		</div>
		<div id="lastfm">
			<h3><a href="{{ lastfm.user_url }}">Last.fm</a></h3>
			<p>
			<a href="{{ lastfm.url }}">{{ lastfm.title }} - {{ lastfm.artist }}</a><br>
			{{ lastfm.status }}
			{% if lastfm.date %}
				{{ lastfm.date }}
			{% endif %}
			</p>
		</div>
		<div id="twitter">
			<h3><a href="{{ twitter.user_url }}">Twitter</a></h3>
			<p>
			{{ twitter.text }}<br>
			{{ twitter.date }}<br>
			<a href="{{ twitter.tweet_url }}">Link</a>
			</p>
		</div>
	</div>
	<div class="col-md-6">
		<div id="strava">
			<h3><a href="{{ strava.athlete_url }}">Strava</a></h3>
			<p>
			<a href="{{ strava.activity_url }}">{{ strava.name }}</a> - {{ strava.activity_type }}<br>
			{{ strava.start_date }}<br>
			Elapsed time: {{ strava.elapsed_time }}<br>
			Distance: {{ strava.distance_in_mi }} mi <br>
			Max speed: {{ strava.max_speed_mph }} mph <br>
			Elevation gain: {{ strava.elevation_gain_ft }} ft
			</p>
		</div>
		<div id="goodreads">
			<h3><a href="{{ goodreads.user_url }}">Goodreads</a></h3>
			{% for book in goodreads.currently_reading %}
				<p>
				{{ book.title }} - {{ book.author }}<br>
				Started at: {{ book.started_at }}
				</p>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}